body {
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
  }
  
  .clock-container {
    text-align: center;
    color: #fff;
  }
  
  .clock {
    font-size: 110px; 
    margin: 0;
  }
  